* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form {
    border: 2px solid grey;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    font-size: large;
    padding: 1rem 3rem;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    input {
        border-radius: 5px;
        padding: 0.5rem;
        outline: none;
    }
}

.btn {
    border-radius: 99px;
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: lightgreen;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    background-color: white;
    color: lightgreen;
    border: 2px solid lightgreen;
}

.err {
    color: red;
    font-size: small;
}